# build output
dist/
.output/

# dependencies
node_modules/

# astro
.astro/

# environment
.env
.env.production
.env.local

# logs
*.log
npm-debug.log*
pnpm-debug.log*

# macOS
.DS_Store

# editor
.vscode/*
!.vscode/extensions.json
.idea/
